@font-face {
  font-family: myFirstFont;
  src: url(segoeuil.ttf);
}
* {
  font-family: myFirstFont;
}

body {
  margin: 0;
  text-align: center;
}

.wrapper {
  display: inline-block;
  text-align: left;
}

.collapsible {
  background: none;
  color: black;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;
  margin: 0 auto;
  font-weight: bold;
}

.active,
.collapsible:hover {
  background-color: lightgrey;
}

.collapsible:after {
  content: "\02C3";
  font-weight: bold;
  float: right;
}

.active:after {
  content: "\02C5";
}

.content {
  background-color: none;
  font-size: 20px;
  text-align: left;
  padding: 0px 18px;
  max-height: 0;
  overflow: hidden;
  max-width: 600px;
  transition: max-height 0.2s ease-out;
}
.item1 {
  grid-area: name;
  font-size: 72px;
  text-align: left;
}
.item2 {
  display: flex;
  align-items: center;
  grid-area: github;
  text-align: left;
}
.item3 {
  display: flex;
  align-items: center;
  grid-area: phone;
  text-align: left;
}
.item4 {
  display: flex;
  align-items: center;
  grid-area: email;
  text-align: left;
}
.item5 {
  display: flex;
  align-items: center;
  grid-area: linkedn;
  text-align: left;
}
.item-link {
  margin-bottom: 5px;
}
.grid-container.name {
  /* justify-content: center; */
  display: grid;
  grid-template-areas: "name icon";
}
.grid-container.name > div {
  text-align: center;
}
.grid-container.links {
  /* justify-content: center; */
  display: grid;
  grid-template-areas: "phone email github linkedn";
}
.grid-container.links > div {
  text-align: center;
}
/* CSS for smaller viewports */
@media (max-width: 600px) {
  .wrapper {
    display: block;
  }
  .item4 {
    justify-self: end;
  }
  .item5 {
    justify-self: end;
  }
  .grid-container.name {
    grid-template-areas:
      "name"
      "icon";
  }
  .grid-container.links {
    grid-template-areas:
      "phone email"
      "github linkedn";
  }
}

.sidebar-block {
  background-color: black;
  position: fixed;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: 10;
  padding: none;
}

.sidebar {
  font-family: inherit;
  background-color: transparent;
  border: none;
  white-space: normal;
  outline: 0;
  float: center;
  padding-left: 10px;
  text-align: left;
  width: auto;
  display: block;
  font-size: 32px;
  color: white;
  z-index: 9;
}

.close-sidebar {
  font-family: inherit;
  background-color: transparent;
  border: none;
  white-space: normal;
  outline: 0;
  float: center;
  padding: 0s;
  text-align: left;
  font-size: 32px;
  display: block;
  color: white;
  width: 100%;
  z-index: 11;
}

.actual-sidebar {
  width: auto;
  height: 100%;
  font-family: inherit;
  background-color: black;
  display: none;
  position: fixed;
  z-index: 11;
}

.link-in-sidebar {
  color: white;
  font-size: 32px;
  text-decoration: none;
  padding-left: 5%;
  width: 100%;
  display: block;
  text-align: left;
}

@media (max-width: 800px) {
  .sidebar-block {
    font-size: 28px;
  }
  .sidebar {
    font-size: 28px;
  }

  .close-sidebar {
    font-size: 28px;
  }
  .link-in-sidebar {
    font-size: 28px;
  }
}
