.itempreview-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 1ch;
  width: 80%;
  height: auto;
  margin: auto;
}

.zoom {
  transition: transform 0.2s;
  text-align: center;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.zoom:hover {
  transform: scale(1.05);
}

.previewtext {
  position: absolute;
  font-size: 32px;
  color: white;
}

.previewimage {
  border-radius: 4%;
  max-width: 100%;
  max-height: auto;
  height: auto;
}

.scale {
  /* width: 20%; */
  height: auto;
}

@media (max-width: 1000px) {
  .itempreview-container {
    width: 100%;
  }
}
