.itempreview-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5%;
  width: 80%;
  height: auto;
}

.zoom {
  transition: transform 0.2s;
  text-align: center;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.zoom:hover {
  transform: scale(1.05);
}

.previewtext {
  position: absolute;
  font-size: 64px;
  color: white;
}

.previewimage {
  /* transition: opacity 0.2s; */
  border-radius: 4%;
  max-width: 100%;
  max-height: auto;
  height: auto;
}

/* .previewimage:hover {
  opacity: 0.1;
} */

@media (max-width: 850px) {
  .itempreview-container {
    grid-gap: 1%;
    grid-template-columns: auto;
    width: 100%;
  }
}
